@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
}

h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

h2 {
  text-transform: capitalize;
  font-size: 1.1rem;
}

p {
  font-size: 0.8rem;
}

a {
  font-size: 0.8rem;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
}
body .body_tint {
  display: none;
}
body nav {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #dbdbdb;
}
body nav .logo {
  order: 2;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  gap: 0.5vw;
}
body nav .logo p {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
body nav ul {
  order: 1;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
body nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
body nav ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.25rem 0.6rem;
  text-align: center;
  border-radius: 20px;
  color: #2b2b2b;
  font-size: 0.6rem;
  fill: #2b2b2b;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s ease;
}
body nav ul li a .material-symbols-outlined {
  font-size: 1rem;
}
body nav ul li a:hover {
  background: linear-gradient(-135deg, #b5c99a, #718355);
  font-size: 0.8rem;
  color: #2b2b2b;
  transition: all 0.5s ease;
}
body nav ul li .active {
  background: linear-gradient(-135deg, #b5c99a, #718355);
  font-size: 0.8rem;
  color: #2b2b2b;
  transition: all 0.5s ease;
}
body nav .menuButton {
  display: none;
}
body .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body .container::-webkit-scrollbar {
  display: none;
}
body .container section {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  padding: 2vh 2vw;
  padding-top: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container section:nth-child(odd) {
  background-color: #dbdbdb;
}
body .container section:nth-child(even) {
  background-color: #f0f0f0;
}

@media (min-width: 769px) {
  #home {
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #home .left {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3vh;
  }
  #home .left h1 {
    text-transform: capitalize;
    font-size: 3rem;
  }
  #home .left .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
  }
  #home .left .buttons a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    color: #2b2b2b;
    background: transparent;
    text-decoration: none;
    padding: 1vh 1vw;
    border: 1px solid #2b2b2b;
    border-radius: 20px;
    transition: all 0.5s ease;
  }
  #home .left .buttons a .material-symbols-outlined {
    font-size: 0.8rem;
  }
  #home .left .buttons a:hover {
    background: linear-gradient(135deg, #b5c99a, #718355);
    border: none;
    transition: all 0.5s ease;
  }
  #home .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #home .right h1 {
    display: none;
  }
  #home .right .image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  #home .right .image img {
    width: 80%;
    aspect-ratio: 4/3.8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.6862745098);
    transition: all 0.5s ease;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #home .right .image .logo {
    position: absolute;
    width: 30%;
    aspect-ratio: 1/1;
    box-shadow: none;
  }
  #home .right .image .float1 {
    position: absolute;
    width: 30%;
    aspect-ratio: 4/1;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: linear-gradient(135deg, #b5c99a, #718355);
    top: 15%;
    left: 7.5%;
  }
  #home .right .image .float1 p {
    font-size: 0.7rem;
    text-wrap: wrap;
  }
  #home .right .image .float2 {
    position: absolute;
    width: 30%;
    aspect-ratio: 4/1;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: linear-gradient(-135deg, #b5c99a, #718355);
    top: 70%;
    right: 7.5%;
  }
  #home .right .image .float2 p {
    font-size: 0.7rem;
    text-wrap: wrap;
  }
  #home .right .image:hover > .float1 {
    left: 5%;
    top: 10%;
    transition: all 0.5s ease;
  }
  #home .right .image:hover > .float2 {
    right: 5%;
    top: 75%;
    transition: all 0.5s ease;
  }
  #home .right .image:hover > img {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #about .image {
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #about .image h2 {
    position: absolute;
    top: 3%;
    left: 3%;
    color: #f0f0f0;
    filter: drop-shadow(0px 0px 10px #2b2b2b);
    border-left: 3px solid #f0f0f0;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-left: 3px;
  }
  #about .image p {
    position: absolute;
    width: 40%;
    top: 85%;
    border-radius: 10px;
    background-color: #dbdbdb;
    border: 1px solid #dbdbdb;
    text-align: center;
    font-style: italic;
    padding: 1% 5%;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.6862745098);
  }
  #about .image p::before {
    position: absolute;
    content: "";
    width: 8%;
    height: 40%;
    background-color: transparent;
    border-top: 7px solid #2b2b2b;
    border-left: 7px solid #2b2b2b;
    border-top-left-radius: 10px;
    top: 0;
    left: 0;
  }
  #about .image p::after {
    position: absolute;
    content: "";
    width: 8%;
    height: 40%;
    background-color: transparent;
    border-bottom: 7px solid #2b2b2b;
    border-right: 7px solid #2b2b2b;
    border-bottom-right-radius: 10px;
    bottom: 0;
    right: 0;
  }
  #about .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 30%;
       object-position: 0% 30%;
    border-radius: 10px;
  }
  #about .mission-vision {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 7vw;
  }
  #about .mission-vision .mission {
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-start;
    gap: 1vh;
    position: relative;
  }
  #about .mission-vision .mission::before {
    content: "";
    position: absolute;
    left: -13%;
    top: 0;
    height: 85%;
    width: 2px;
    background-color: #2b2b2b;
  }
  #about .mission-vision .vision {
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-start;
    gap: 1vh;
    position: relative;
  }
  #about .mission-vision .vision::before {
    content: "";
    position: absolute;
    left: -13%;
    top: 0;
    height: 85%;
    width: 2px;
    background-color: #2b2b2b;
  }
  #about .mission-vision .vision h1 {
    position: relative;
    display: flex;
    align-items: center;
  }
  #about .mission-vision .vision h1 .material-symbols-outlined {
    position: absolute;
    left: -35%;
  }
  #events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    position: relative;
  }
  #events .left-leaf,
  #events .right-leaf {
    position: absolute;
    z-index: 0;
    font-size: 15rem;
    opacity: 0.4;
  }
  #events .left-leaf {
    left: 1vw;
  }
  #events .right-leaf {
    right: 1vw;
  }
  #events form {
    position: absolute;
    width: 35%;
    padding: 3% 3%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 5vh;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.6862745098);
    z-index: 3;
  }
  #events form h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  #events form .input {
    width: 100%;
    height: 50px;
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  #events form .input label {
    position: absolute;
    font-size: 0.65rem;
    background-color: #f0f0f0;
    padding: 0 1%;
    top: -20%;
    left: 3%;
  }
  #events form .input select,
  #events form .input input {
    width: 100%;
    height: 100%;
    padding: 0 3%;
    font-size: 0.8rem;
    border: none;
    background-color: transparent;
  }
  #events form .input select:focus,
  #events form .input input:focus {
    outline: none;
  }
  #events form .input select option,
  #events form .input input option {
    font-size: 0.7rem;
  }
  #events form .submit {
    width: 100%;
    height: 50px;
    font-size: 0.8rem;
    background: linear-gradient(45deg, #718355, #b5c99a);
    background-size: 150%;
    background-position: left;
    transition: all 0.5s ease;
    border-radius: 10px;
    border: 1px solid #718355;
    cursor: pointer;
  }
  #events form .submit:hover {
    background-position: right;
    transition: all 0.5s ease;
  }
  #events .tint {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    opacity: 0.8;
  }
  #events .tint-visible {
    display: block;
  }
  #events h1 {
    display: block;
  }
  #events .slides {
    z-index: 1;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    border-radius: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  #events .slides::-webkit-scrollbar {
    display: none;
  }
  #events .slides .slide {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }
  #events .slides .slide .background {
    width: 55%;
    height: 97%;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.6862745098);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  #events .slides .slide .background .image {
    position: absolute;
    left: -5%;
    height: 90%;
    width: 50%;
    border-radius: 10px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.6862745098);
  }
  #events .slides .slide .background .left,
  #events .slides .slide .background .right {
    height: 100%;
    border-radius: 10px;
  }
  #events .slides .slide .background .left {
    width: 45%;
  }
  #events .slides .slide .background .right {
    width: 55%;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6%;
  }
  #events .slides .slide .background .right .date-venue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1%;
  }
  #events .slides .slide .background .right .date-venue .date,
  #events .slides .slide .background .right .date-venue .venue {
    font-size: 0.7rem;
    opacity: 0.7;
    text-decoration: none;
    text-transform: capitalize;
  }
  #events .slides .slide .background .right p span {
    font-weight: 600;
    font-size: 0.8rem;
    color: #718355;
  }
  #events .slides .slide .background .right .participate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;
  }
  #events .slides .slide .background .right .participate a {
    display: block;
    text-decoration: none;
    background: linear-gradient(-135deg, #b5c99a, #718355);
    font-size: 0.7rem;
    padding: 0.25rem 0.6rem;
    text-transform: capitalize;
    border-radius: 5px;
  }
  #events .slides .slide .background .right .participate p {
    display: none;
  }
  #events .slides .slide .background .right .past a {
    display: none;
  }
  #events .slides .slide .background .right .past p {
    display: block;
    font-size: 0.6rem;
    font-weight: 600;
  }
  #events .arrow_forward,
  #events .arrow_back {
    position: absolute;
    z-index: 2;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 1%;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.6862745098);
    cursor: pointer;
    transition: 0.5s all ease;
  }
  #events .arrow_forward:hover,
  #events .arrow_back:hover {
    transform: scale(1.08);
    transition: 0.5s all ease;
  }
  #events .arrow_forward {
    right: 15%;
  }
  #events .arrow_back {
    left: 13%;
  }
  #join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    position: relative;
  }
  #join form {
    position: absolute;
    width: 35%;
    padding: 3% 3%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 5vh;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.6862745098);
    z-index: 3;
  }
  #join form h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  #join form .input {
    width: 100%;
    height: 7vh;
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  #join form .input label {
    position: absolute;
    font-size: 0.65rem;
    text-transform: capitalize;
    background-color: #f0f0f0;
    padding: 0 1%;
    top: -20%;
    left: 3%;
  }
  #join form .input select,
  #join form .input input {
    width: 100%;
    height: 100%;
    padding: 0 3%;
    font-size: 0.8rem;
    border: none;
    background-color: transparent;
  }
  #join form .input select:focus,
  #join form .input input:focus {
    outline: none;
  }
  #join form .input select option,
  #join form .input input option {
    font-size: 0.7rem;
  }
  #join form .submit {
    width: 100%;
    height: 50px;
    font-size: 0.8rem;
    background: linear-gradient(45deg, #718355, #b5c99a);
    background-size: 150%;
    background-position: left;
    transition: all 0.5s ease;
    border-radius: 10px;
    border: 1px solid #718355;
    cursor: pointer;
  }
  #join form .submit:hover {
    background-position: right;
    transition: all 0.5s ease;
  }
  #join .tint {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    opacity: 0.8;
  }
  #join .tint-visible {
    display: block;
  }
  #join h1 {
    text-align: center;
  }
  #join .cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
  }
  #join .cards .card {
    flex: 1 1 35vw;
    aspect-ratio: 4/1.5;
    min-width: 300px;
    min-height: 200px;
    padding: 3% 2%;
    background-color: #dbdbdb;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.6862745098);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2vh;
    transition: all 0.5s ease;
  }
  #join .cards .card:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease;
  }
  #join .cards .card h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  #join .cards .card ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding-left: 10%;
  }
  #join .cards .card ul li {
    font-size: 0.8rem;
  }
  #join .cards .card ul li span {
    text-transform: uppercase;
    color: #718355;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: underline;
  }
  #join .cards .card p {
    font-size: 0.8rem;
    padding-left: 7%;
  }
  #join .cards .card a {
    border-radius: 5px;
    width: 100%;
    padding: 0.35rem 0.6rem;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    background: linear-gradient(-135deg, #b5c99a, #718355);
    background-size: 150%;
    background-position: right;
    transition: all 0.5s ease;
  }
  #join .cards .card a:hover {
    background-position: left;
    transition: all 0.5s ease;
  }
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding-bottom: 10vh;
    position: relative;
  }
  #contact .notification {
    width: 300px;
    padding: 0 20px;
    z-index: 5;
    box-shadow: 0px 0px 50px 10px rgba(43, 43, 43, 0.6862745098);
    aspect-ratio: 16/7;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
  }
  #contact .pair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  #contact .pair .contact {
    padding: 1rem 2rem;
    min-width: 35vw;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.6862745098);
    background-color: #f0f0f0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    transition: all 0.5s ease;
  }
  #contact .pair .contact:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease;
  }
  #contact .pair .contact img {
    height: 20vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #718355;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #contact .pair .contact .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3%;
  }
  #contact .pair .contact .details h2 {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
  }
  #contact .pair .contact .details p {
    text-transform: capitalize;
  }
  #contact .pair .contact .details .phone {
    display: flex;
    align-items: center;
    gap: 3%;
    position: relative;
  }
  #contact .pair .contact .details .phone .material-symbols-outlined {
    font-size: 1rem;
    color: #718355;
    font-weight: 400;
    position: absolute;
    z-index: 1;
  }
  #contact .pair .contact .details .phone a {
    z-index: 2;
    padding-left: 1rem;
    color: #718355;
    text-decoration: none;
    text-transform: capitalize;
  }
  #contact .pair .contact .details a {
    display: flex;
    align-items: center;
    gap: 3%;
    color: #718355;
    text-decoration: none;
    text-transform: capitalize;
  }
  #contact .pair .contact .details a .whatsapp {
    width: 1.5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: url("../images/whatsapp.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
  #contact footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4vw;
  }
  #contact footer .logo {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: 0.5vw;
  }
  #contact footer .logo p {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
  }
  #contact footer p {
    text-align: center;
    text-transform: capitalize;
    font-size: 0.7rem;
  }
  #contact footer .socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
  }
  #contact footer .socials .ig {
    background: url("../images/instagram.svg");
  }
  #contact footer .socials .twitter {
    background: url("../images/twitter.svg");
  }
  #contact footer .socials .whatsapp {
    background: url("../images/whatsapp.svg");
  }
  #contact footer .socials .ig,
  #contact footer .socials .twitter,
  #contact footer .socials .whatsapp {
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    transition: all 0.5s ease;
  }
  #contact footer .socials .ig:hover,
  #contact footer .socials .twitter:hover,
  #contact footer .socials .whatsapp:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease;
  }
}
@media (max-width: 768px) {
  * {
    font-size: 4.5vw;
  }
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
  html body {
    width: 100vw;
    height: 100vh;
    padding-top: 7vh;
    overflow-y: hidden;
  }
  html body nav {
    width: 100%;
    height: 7vh;
  }
  html body nav .logo {
    order: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }
  html body nav .logo p {
    font-weight: 600;
  }
  html body nav ul {
    background-color: #f0f0f0;
    position: absolute;
    z-index: 2;
    right: -100%;
    top: 0;
    padding: 4% 4%;
    padding-top: 25%;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2vh;
    transition: all 0.5s ease;
  }
  html body nav ul li {
    width: 100%;
    height: 7vh;
  }
  html body nav ul li .material-symbols-outlined {
    display: block;
    text-align: right;
  }
  html body nav ul li a {
    padding-left: 25%;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
  }
  html body nav ul li a:hover {
    background: transparent;
  }
  html body nav ul li .active {
    background: transparent;
    font-size: 0.8rem;
  }
  html body nav .menuButton {
    display: block;
    position: absolute;
    z-index: 3;
    right: 5%;
    text-align: center;
    text-decoration: none;
  }
  html body .body_tint {
    position: absolute;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.6862745098);
  }
  html body .container {
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  html body .container::-webkit-scrollbar {
    display: none;
  }
  html body .container section {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 2vh 2vw;
  }
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  #home .right {
    order: 1;
    border-radius: 0;
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #home .right h1 {
    position: absolute;
    z-index: 1;
    top: 20%;
    text-align: center;
    filter: drop-shadow(0px 0px 5px #2b2b2b);
    color: #f0f0f0;
  }
  #home .right .image {
    height: 100%;
    width: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  #home .right .image img {
    border-radius: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #home .right .image .logo {
    position: absolute;
    top: 40%;
    height: 50%;
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    filter: drop-shadow(0px 0px 10px #2b2b2b);
  }
  #home .right .image .float1,
  #home .right .image .float2 {
    position: absolute;
    bottom: 2%;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(43, 43, 43, 0.1176470588);
    padding: 0 2%;
    border-radius: 4px;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  #home .right .image .float1 .material-symbols-outlined,
  #home .right .image .float2 .material-symbols-outlined {
    color: #f0f0f0;
  }
  #home .right .image .float1 p,
  #home .right .image .float2 p {
    color: #f0f0f0;
  }
  #home .right .image .float1 {
    left: 10%;
  }
  #home .right .image .float2 {
    right: 10%;
  }
  #home .left {
    order: 2;
    width: 100%;
    height: 40%;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4vh;
  }
  #home .left h1 {
    display: none;
  }
  #home .left p {
    text-align: center;
  }
  #home .left .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1vh;
  }
  #home .left .buttons a {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 2% 0;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(43, 43, 43, 0.6862745098);
  }
  #home .left .buttons a .material-symbols-outlined {
    font-size: 1rem;
  }
  #home .left .buttons a:nth-child(2) {
    background: linear-gradient(90deg, #718355, #b5c99a);
  }
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
  }
  #about .image {
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #about .image h2 {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #f0f0f0;
    background-color: rgba(43, 43, 43, 0.1176470588);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 0 2%;
    border-radius: 5px;
  }
  #about .image p {
    position: absolute;
    bottom: -10%;
    width: 75%;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    padding: 4% 6%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(43, 43, 43, 0.6862745098);
    font-style: italic;
  }
  #about .image p::before, #about .image p::after {
    position: absolute;
    content: "";
    width: 15%;
    height: 40%;
    background-color: transparent;
  }
  #about .image p::before {
    left: 0;
    top: 0;
    border-top-left-radius: 10px;
    border-left: 3px solid #2b2b2b;
    border-top: 3px solid #2b2b2b;
  }
  #about .image p::after {
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 10px;
    border-right: 3px solid #2b2b2b;
    border-bottom: 3px solid #2b2b2b;
  }
  #about .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #about .mission-vision {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
  }
  #about .mission-vision .mission,
  #about .mission-vision .vision {
    padding: 0 2%;
    border-left: 3px solid #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1vh;
  }
  #about .mission-vision .mission h1,
  #about .mission-vision .vision h1 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #about .mission-vision .mission h1 .material-symbols-outlined,
  #about .mission-vision .vision h1 .material-symbols-outlined {
    color: #2b2b2b;
  }
  #about .mission-vision .mission p,
  #about .mission-vision .vision p {
    padding-left: 4%;
  }
  #events {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    position: relative;
  }
  #events .left-leaf,
  #events .right-leaf {
    position: absolute;
    display: none;
  }
  #events form {
    position: absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 6% 6%;
    width: 85vw;
  }
  #events form h2 {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #events form h2 .material-symbols-outlined {
    font-size: 1.3rem;
  }
  #events form .input {
    width: 100%;
    border: 1px solid #2b2b2b;
    border-radius: 7px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  #events form .input label {
    position: absolute;
    font-size: 0.8rem;
    background-color: #f0f0f0;
    padding: 0 1%;
    top: -20%;
    left: 5%;
  }
  #events form .input select,
  #events form .input input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0 5%;
    font-size: 0.9rem;
  }
  #events form .input select:focus,
  #events form .input input:focus {
    outline: none;
  }
  #events form .input select option,
  #events form .input input option {
    font-size: 0.9rem;
  }
  #events form .submit {
    width: 100%;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 3px 5px 0px rgba(43, 43, 43, 0.6862745098);
    border-radius: 7px;
    height: 7vh;
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: capitalize;
    background: linear-gradient(35deg, #b5c99a, #718355);
  }
  #events .tint {
    display: none;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(43, 43, 43, 0.6862745098);
  }
  #events .tint-visible {
    display: block;
  }
  #events h1 {
    text-align: center;
  }
  #events .slides {
    width: 100%;
    height: 85%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  #events .slides::-webkit-scrollbar {
    height: 10px;
  }
  #events .slides::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    background-clip: padding-box;
  }
  #events .slides::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
    border-radius: 10px;
  }
  #events .slides .slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #events .slides .slide .background {
    width: 90%;
    height: 80%;
    padding: 2% 4%;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 5px 0px rgba(43, 43, 43, 0.6862745098);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  #events .slides .slide .background .image {
    position: absolute;
    top: -7%;
    width: 90%;
    height: 40%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(43, 43, 43, 0.6862745098);
  }
  #events .slides .slide .background .left,
  #events .slides .slide .background .right {
    width: 100%;
  }
  #events .slides .slide .background .left {
    height: 35%;
  }
  #events .slides .slide .background .right {
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2vh;
  }
  #events .slides .slide .background .right h1 {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
  #events .slides .slide .background .right .date-venue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #events .slides .slide .background .right .date-venue .date,
  #events .slides .slide .background .right .date-venue .venue {
    text-transform: capitalize;
    opacity: 0.8;
    font-size: 0.65rem;
  }
  #events .slides .slide .background .right p span {
    font-size: 0.8rem;
    font-weight: 600;
    color: #718355;
  }
  #events .slides .slide .background .right .participate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;
  }
  #events .slides .slide .background .right .participate a {
    display: block;
    text-decoration: none;
    background: linear-gradient(-135deg, #b5c99a, #718355);
    font-size: 0.7rem;
    padding: 0.25rem 0.6rem;
    text-transform: capitalize;
    border-radius: 5px;
  }
  #events .slides .slide .background .right .participate p {
    display: none;
  }
  #events .slides .slide .background .right .past a {
    display: none;
  }
  #events .slides .slide .background .right .past p {
    display: block;
    font-size: 0.6rem;
    font-weight: 600;
  }
  #events .arrow_forward,
  #events .arrow_back {
    position: absolute;
    display: none;
  }
  #join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
    position: relative;
  }
  #join form {
    position: absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 6% 6%;
    width: 85vw;
  }
  #join form h2 {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #join form h2 .material-symbols-outlined {
    font-size: 1.3rem;
  }
  #join form .input {
    width: 100%;
    border: 1px solid #2b2b2b;
    border-radius: 7px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  #join form .input label {
    position: absolute;
    font-size: 0.8rem;
    background-color: #f0f0f0;
    padding: 0 1%;
    top: -20%;
    left: 5%;
  }
  #join form .input select,
  #join form .input input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0 5%;
    font-size: 0.9rem;
  }
  #join form .input select:focus,
  #join form .input input:focus {
    outline: none;
  }
  #join form .input select option,
  #join form .input input option {
    font-size: 0.9rem;
  }
  #join form .submit {
    width: 100%;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 3px 5px 0px rgba(43, 43, 43, 0.6862745098);
    border-radius: 7px;
    height: 7vh;
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: capitalize;
    background: linear-gradient(35deg, #b5c99a, #718355);
  }
  #join .tint {
    display: none;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(43, 43, 43, 0.6862745098);
  }
  #join .tint-visible {
    display: block;
  }
  #join h1 {
    position: relative;
  }
  #join h1::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10%;
    content: "";
    width: 40vw;
    height: 0.5vh;
    background-color: #2b2b2b;
    border-radius: 50%;
  }
  #join .cards {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
  }
  #join .cards .card {
    width: 98%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1vh;
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(43, 43, 43, 0.6862745098);
  }
  #join .cards .card:hover {
    transform: scale(1.01);
  }
  #join .cards .card::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 3vh;
    border-left: 2px dotted #718355;
    bottom: -3vh;
    left: 10%;
  }
  #join .cards .card::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 3vh;
    border-left: 2px dotted #718355;
    bottom: -3vh;
    right: 10%;
  }
  #join .cards .card h2 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #join .cards .card h2 .material-symbols-outlined {
    font-size: 1.5rem;
  }
  #join .cards .card ul {
    list-style-type: circle;
    padding-left: 10vw;
  }
  #join .cards .card ul li {
    font-size: 0.75rem;
  }
  #join .cards .card ul li span {
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #718355;
    font-weight: 600;
    text-decoration: underline;
  }
  #join .cards .card p {
    padding-left: 5vw;
  }
  #join .cards .card a {
    width: 90%;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #b5c99a, #718355);
    padding: 2% 0;
  }
  #join .cards .card a:hover {
    transform: scale(1.05);
  }
  #join .cards .card:last-child {
    align-items: center;
  }
  #join .cards .card:last-child h2 {
    width: 100%;
  }
  #join .cards .card:last-child::before {
    display: none;
  }
  #join .cards .card:last-child::after {
    display: none;
  }
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    position: relative;
  }
  #contact .notification {
    display: none;
    padding: 3% 5%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(43, 43, 43, 0.6862745098);
    position: absolute;
    z-index: 3;
    top: 40%;
  }
  #contact h2 {
    margin-bottom: 2vh;
    margin-top: -2vh;
    font-size: 0.85rem;
    font-weight: 400;
  }
  #contact .pair {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    height: -moz-fit-content;
    height: fit-content;
  }
  #contact .pair .contact {
    width: 100%;
    padding: 3% 0;
    padding-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(43, 43, 43, 0.6862745098);
  }
  #contact .pair .contact img {
    height: 10vh;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 50%;
    border: 1px solid #2b2b2b;
  }
  #contact .pair .contact .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1px;
    position: relative;
  }
  #contact .pair .contact .details h2 {
    font-size: 0.85rem;
    font-weight: 600;
    margin: 0;
  }
  #contact .pair .contact .details p {
    text-transform: capitalize;
  }
  #contact .pair .contact .details .phone {
    position: absolute;
    right: 6%;
    bottom: 2%;
    display: flex;
    align-items: center;
    gap: 3%;
  }
  #contact .pair .contact .details .phone .material-symbols-outlined {
    font-size: 1rem;
    color: #718355;
    font-weight: 400;
    position: absolute;
    z-index: 1;
  }
  #contact .pair .contact .details .phone a {
    position: relative;
    right: 0;
    z-index: 2;
    padding-left: 1rem;
    color: #718355;
    text-decoration: underline;
    text-transform: capitalize;
  }
  #contact .pair .contact .details a {
    display: flex;
    align-items: center;
    gap: 3%;
    color: #718355;
    text-decoration: underline;
    text-transform: capitalize;
  }
  #contact .pair .contact .details a .whatsapp {
    width: 1.5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: url("../images/whatsapp.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
  #contact footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 4vw;
  }
  #contact footer .logo {
    width: -moz-fit-content;
    width: fit-content;
    display: none;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: 0.5vw;
  }
  #contact footer .logo p {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
  }
  #contact footer p {
    text-align: center;
    text-transform: capitalize;
    font-size: 0.7rem;
  }
  #contact footer .socials {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;
  }
  #contact footer .socials .ig {
    background: url("../images/instagram.svg");
  }
  #contact footer .socials .twitter {
    background: url("../images/twitter.svg");
  }
  #contact footer .socials .whatsapp {
    background: url("../images/whatsapp.svg");
  }
  #contact footer .socials .ig,
  #contact footer .socials .twitter,
  #contact footer .socials .whatsapp {
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    transition: all 0.5s ease;
  }
  #contact footer .socials .ig:hover,
  #contact footer .socials .twitter:hover,
  #contact footer .socials .whatsapp:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease;
  }
}/*# sourceMappingURL=styles.css.map */